<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a routerLink="/posts">Posts</a>
        <a routerLink="/new">New Post
            titulo: 'Mi Primerito Blog de Angular Segundo Intento',
    texto: '¡Hola persona o concepto que lee esto!',
    autor: 'Yo',
    imagen: 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F298856125249158329%2F&psig=AOvVaw1wdONFOL025lTLt4orC3OS&ust=1679695303712000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMDsh-GG8_0CFQAAAAAdAAAAABAE',
    fecha: new Date(),
    categoria: 'General',
        </a>
      </nav>
      <router-outlet></router-outlet>
</body>
</html>