<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="Boton">
            <button *ngFor="let categoria of categorias" (click)="filtrarPorCategoria(categoria)">{{categoria}}

            </button>

        </div>

        <ul>
            <li *ngFor="let post of posts">{{post.titulo}}</li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
</body>
</html>