<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>

        <h1>Segundo Intento de blog</h1>
        <div class="Boton">
            <button *ngFor="let categoria of categorias" (click)="filtrarPorCategoria(categoria)">{{categoria}}

            </button>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, similique dolor nemo voluptate exercitationem ipsum labore in laborum Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos exercitationem sequi natus culpa minima, ut facilis ipsa quo cum! Sit cumque esse reiciendis voluptate? Animi ab tempora veritatis ratione dolores.<Ul>

            </Ul> odio? Consequatur,Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dignissimos, aliquam atque velit officiis dolorem dolores veniam adipisci alias dicta neque doloribus accusamus ratione similique distinctio quos quibusdam, totam eaque. aspernatur quasi? Iste, illum nemo? Reiciendis sapiente quidem obcaecati doloremque.</p>

            <img src="C:\Users\alber\OneDrive\Documents\cmder\angularblog\principales\pixel-blog.jpg">

        </div>

        <ul>
            <li *ngFor="let post of posts">{{post.titulo}}</li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
</body>
</html>